---
import { LoginForm } from "~/components/auth/login-form";
import Layout from "~/layouts/Layout.astro";

if (Astro.locals.user !== null) {
  return Astro.redirect("/");
}
---

<Layout title="Login">
  <div class="mx-auto mt-8 w-full max-w-xl rounded-lg border p-6">
    <h2 class="mb-4 text-2xl font-bold">Login</h2>
    <LoginForm client:only="solid-js" />
  </div>
</Layout>
